<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=HRIDOYPC\SQL2K12EXP; Initial Catalog=ERP_BEPZA;Persist Security Info=True;User ID=sa;Password=1234;"/>
    <add providerName="Sqlserver"/>
    
  </connectionStrings>
  <add key="StoredProcedureFile" value="d:\db.xml"></add>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
